HttpRequestsChecking/.idea/*
HttpRequestsChecking/.pytest_cache/*
HttpRequestsChecking/__pycache__/*
HttpRequestsChecking/Lib/*
HttpRequestsChecking/Scripts/*
HttpRequestsChecking/tests/__pycache__/*
HttpRequestsChecking/.coverage
HttpRequestsChecking/pyvenv.cfg